.main_chat
  .main_chat__group-info
    .main_chat__group-info__current-group
      .main_chat__group-info__current-group__group-name
        = @group.name
      .main_chat__group-info__current-group__member-list
        member:
        %ul.main_chat__group-info__current-group__member-list__member
          - @group.users.each do |user| 
            %li= user.name
    .main_chat__group-info__edit
      = link_to edit_group_path(@group) do
        .main_chat__group-info__edit__box
          Edit
  .main_chat__message-view
    = render partial: 'message', collection: @messages
  .main_chat__new-message
    .main_chat__new-message__form
      = form_for [@group, @message] do |f|
        .main_chat__new-message__form__box
          = f.text_field :content, class: 'main_chat__new-message__form__box__text', placeholder: 'type a message'
          = f.label :image, class: 'main_chat__new-message__form__box__image' do
            = icon('fas', 'image', class: 'icon')
            = f.file_field :image, class: 'main_chat__new-message__form__box__image__default'
        = f.submit 'Send', class: 'main_chat__new-message__form__send'