.side_bar
  .side_bar__user-info
    .side_bar__user-info__box
      .side_bar__user-info__box__user-name
        = current_user.name
      .side_bar__user-info__box__menu
        = link_to new_group_path do
          %i.fas.fa-edit.fa-sm.side_bar__user-info__box__menu__new
        = link_to edit_user_path(current_user) do
          %i.fas.fa-cog.fa-sm.side_bar__user-info__box__menu__setting
  .side_bar__groups
    - current_user.groups.each do |group|
      .side_bar__groups__group-box
        = link_to messages_path do
          .side_bar__groups__group-box__group-info
            = group.name
          .side_bar__groups__group-box__latest-message
            メッセージはまだありません。